---
services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.5.4
    restart: unless-stopped
    command: start --spi-theme-static-max-age=-1 --spi-theme-cache-themes=false --spi-theme-cache-templates=false
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://db/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: supersecretpassword
      KC_HOSTNAME: https://${KEYCLOAK_HOST}/
      KC_HTTP_ENABLED: true
      KC_PROXY_HEADERS: xforwarded
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.keycloak.rule=Host(`${KEYCLOAK_HOST}`)"
      - "traefik.http.routers.keycloak.tls=true"
      - "traefik.http.services.keycloak.loadbalancer.server.port=8080"
      - "traefik.http.services.keycloak.loadbalancer.server.scheme=http"
    volumes:
      - "./import:/opt/keycloak/data/import"
      - "./themes:/opt/keycloak/themes"
    depends_on:
      db:
        condition: service_started
  traefik:
    image: traefik:v3.6.8
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`${TRAEFIK_HOST}`)"
      - "traefik.http.services.traefik.loadbalancer.server.port=8080"
    volumes:
      - ./certs:/etc/ssl/traefik
      - ./tls.yml:/etc/traefik/tls.yml
      - /var/run/docker.sock:/var/run/docker.sock:ro
    command:
      - "--log.level=DEBUG"
      - "--accesslog"
      - "--api"
      - "--api.dashboard"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.file.filename=/etc/traefik/tls.yml"
      - "--entrypoints.http.address=:80"
      - "--entrypoints.https.address=:443"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      default:
        aliases:
          - "${KEYCLOAK_HOST}"
  db:
    image: postgres:18.2
    restart: unless-stopped
    shm_size: 128mb
    environment:
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: supersecretpassword
    volumes:
      - "./db:/var/lib/postgresql"
  mailcatcher:
    image: sj26/mailcatcher:v0.10.0
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mailcatcher.rule=Host(`${MAILCATCHER_HOST}`)"
      - "traefik.http.services.mailcatcher.loadbalancer.server.port=1080"
      - "traefik.http.services.mailcatcher.loadbalancer.server.scheme=http"
  ad1:
    image: smblds/smblds
    restart: unless-stopped
    environment:
      INSECURE_LDAP: "true"
      REALM: AD1.EXAMPLE.COM
      DOMAIN: AD1
    ports:
      - "389:389"
      - "636:636"
    volumes:
      - ./ad1-entrypoint.d:/entrypoint.d
  ad2:
    image: smblds/smblds
    restart: unless-stopped
    environment:
      INSECURE_LDAP: "true"
      REALM: AD2.EXAMPLE.COM
      DOMAIN: AD2
    volumes:
      - ./ad2-entrypoint.d:/entrypoint.d
